.envios-container{
    display:flex;
    flex-direction: column;
    padding: 8vh 50vh 5vh 50vh;
    align-items: center;

    .envios-title{
        margin-bottom: 3vh;
        h1{
            font-size: 2rem;
            font-family: $vietnam;
            letter-spacing: 1.5px;
        }

    }
    .envios-txt{
        display:flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;

            h5{
                font-size: 1.2rem;
                font-family: $roboto;
                letter-spacing: 1.3px;

            }
    }

    .envios-subtitle{
        display:flex;
        flex-direction: row;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: left;

        h2{
            font-size: 1.8rem;
            font-family: $vietnam;
            letter-spacing: 1.5px;
        }
    }
}

@media (max-width: 1440px){
    .envios-container{
    padding: 8vh 20vh 5vh 20vh;
    }
}


@media (max-width: 930px){
    .envios-container{
    padding: 8vh 10vh 5vh 10vh;
    }
}


@media (max-width: 600px){
    .envios-container{
    padding: 5vh;
    }

    .envios-title{
        margin-bottom: 3vh;
        h1{
            font-size: 1rem;
            font-family: $vietnam;
            letter-spacing: 1.5px;
        }

    }
    .envios-txt{
        display:flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;

            h5{
                font-size: 1.2rem;
                font-family: $roboto;
                letter-spacing: 1.3px;

            }
    }

    .envios-subtitle{
        display:flex;
        flex-direction: row;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: left;

        h2{
            font-size: 1.8rem;
            font-family: $vietnam;
            letter-spacing: 1.5px;
        }
    }
}

@media (max-width: 380px){
    .envios-container{
    padding: 2.5vh;
    }

    .envios-title{
        all: unset;
        margin-bottom: 3vh;
        h1{
            font-size: .5rem;
            font-family: $vietnam;
            letter-spacing: 1.5px;
        }

    }
    .envios-txt{
        display:flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;

            h5{
                font-size: 1rem;
                font-family: $roboto;
                letter-spacing: 1.3px;

            }
    }

    .envios-subtitle{
        display:flex;
        flex-direction: row;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: left;

        h2{
            font-size: 1rem;
            font-family: $vietnam;
            letter-spacing: 1.5px;
        }
    }
}

@media (max-width: 340px){
    .envios-title{
    border: 2px solid red;
    font-size: 10px;

        h1{
            font-size: 10px;
        }
    }
}