.filtros{
    display:flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 140px;
    list-style: none;
    text-decoration: none;
    
}


.btnFiltro{
    padding-right: 30px ;
}

.btnBorrar{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.btnBorrar:hover{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}