.filtros{
    display:flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 140px;
    
}


.btnFiltro{
    padding-right: 30px ;
}
