.cardFooter{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}


.logoFooter{
    display:flex;
    width: auto;
    justify-content: center;
    height: auto;
    padding: 20px;
}

.footer-text{
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.footerMenu{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 12vh;
    padding: 10px 60px 10px 60px;
    align-items: center;
    justify-content: space-evenly;

}

.footerlist{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 60px 10px 60px;
    align-items: center;
    justify-content: space-evenly;

    li{
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

.footerFinal{
    display:flex;
    width: auto;
    height: 3vh;
    background: black;
}



@media(min-width: 770px){
    .cardFooter{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    
    .logoFooter{
        display:none;
    }

    .footer-bg{
        display:flex;
        flex-direction: row;
    }
    
}