.imgFormulario{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;

    img{
        width: 70vh;
        height: auto;
        border-radius: 5px;
    }
}

.formularioContacto{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding-left: 20vh;
    padding-right: 20vh;
    align-items: center;

    form{
        display:flex;
        flex-direction: column;
        width: 50vh;
        border: 2px solid rgba(42, 43, 41, 0.589);
        border-radius: 10px;
        padding: 15px;
        
        input{
            display: flex;
            flex-direction: row;
            height: 5vh;
            align-items: center;
            justify-content: center;
            align-content: center;        
        }

        Button{
            display:flex;
            flex-direction: row;
            justify-content: center;
            width: 10vh;
            }
        
    }
    
}
@media (max-width: 770px){

    .formularioContacto{
        display:flex;
        flex-direction: column;
        align-content: center;
        padding-top: 7.5vh;
        padding-left: 10%;
        padding-right: 10%;
        height: 100%;
        max-width: 100%;
    
        h1{
            text-align: center;
            padding-right:10% ;
            padding-left:10% ;
            font-family: $vietnam;
            font-size: 3rem;
            letter-spacing: 0.08em;
            border: 2px solid red;
        }
        h4{
            text-align: center;
            padding-right:10% ;
            padding-left:10% ;
            font-size: 1.4rem;
            letter-spacing: 0.09em;
            font-family: $roboto;
            font-weight: 550;
            border: 2px solid red;
        }
    }
    
    .imagenFormulario{
        display:flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        justify-content: center;
        border: 2px solid red;
    }
    
    .form{
        border: 2px solid red;
    }

}


@media (max-width: 505px){

    .formularioContacto{
        h1{
            text-align: center;
            padding-right:5% ;
            padding-left:5% ;
            font-family: $vietnam;
            font-size: 1rem;
            letter-spacing: 0.08em;
            border: 2px solid red;
        }
        h4{
            text-align: center;
            padding-right:10% ;
            padding-left:10% ;
            font-size: 1.2rem;
            letter-spacing: 0.09em;
            font-family: $roboto;
            font-weight: 550;
            border: 2px solid red;
        }
    }

}


@media (max-width: 505px){

    .formularioContacto{
    
        h1{
            text-align: center;
            padding-right:5% ;
            padding-left:5% ;
            font-family: $vietnam;
            font-size: 1rem;
            letter-spacing: 0.08em;
            border: 2px solid red;
        }
        h4{
            text-align: center;
            padding-right:10% ;
            padding-left:10% ;
            font-size: 1rem;
            letter-spacing: 0.09em;
            font-family: $roboto;
            font-weight: 550;
            border: 2px solid red;
        }
    }


}