.detail-container{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 10vh;
}

.detail-card{
    display:flex;
    flex-direction: column;
    margin:10vh 0vh 0vh 40vh;

    .detail-name{
        font-size: 3rem;
        font-weight: 450;
        font-family: $roboto;
    }

    .detail-precio{
        margin-top:10px;
        font-size: 2rem;
        font-weight: 400;
        font-family: $roboto;
    }

    .detail-caracteristica{
        display:flex;
        width: 50vh;
        height: 20vh;
    }

}

.count-container{
    display:flex;
    flex-direction: column;
    width: 40vh;
    height: auto;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    

    .count-title{
        margin-top: 10px;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        font-weight: 600
    }

    .count-card{
        display:flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: space-between;

    .botonCounter{
        width: 5vh;
        height: auto;
        border-radius: 15px;
        list-style: none;
        text-decoration: none;
        margin: 10px;
        font-weight: 500;
        font-size: 2rem;
        color: white;
        align-items: center;
    }

    .botonCounter:hover{
        color: rgb(0, 0, 0);
    }

    .count-contador{
        margin: 10px;
        font-size: 2rem;
        font-weight: 500;
    }

}

.count-add{
    margin-bottom: 1vh;

    .agregarCarrito{
        width: 20vh;
        height: 8vh;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 1.1rem;
        letter-spacing: .03em;
        font-weight: 500;
        
    }

    .irAlCarrito{
        width: 20vh;
        height: 6vh
        

    }
}
}




.carouselItem-Container{
    display:flex;
    width: 520px;
    height: 690px;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 20vh;
    border: 2px solid red;
}