.navlineaNegrita{
    display:flex;
    width: 100%;
    height: 60px;
    background-color: black;

    p{
        display:flex;
        width: 100%;
        padding-top: 15px;
        color:white;
        text-align: center;
        justify-content: center;
        justify-items: center;
        font-size: 1.2rem;
        letter-spacing: .5px;
        font-weight: 600;
    }
}

.brand{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height: auto;
}

.btnClose{
    padding: 20px;
}

.navContainer{
    display:flex;
}

.navQuery{
    display:flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

.navView{
    display:flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 90%;

    .navCard{
        display: flex;

        a{
        font-size: 1rem;
        list-style:none;
        text-decoration: none;
        color: black;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-left: 5px;
        letter-spacing: 1.7px;
        font-size: 1.2rem;
        
            &:hover{
                color: rgb(189, 62, 62);
            }
        }
    }
}

@media (max-width: 410px){

    .brand{
        width:220px;
        margin-left: 0px;
    }


    .navmediaQuery{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .navQuery{
        display:flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 40px;
        width: 80%;
    }

    .navlineaNegrita{
        display:flex;
        width: 100%;
        height: 50px;
        background-color: black;
    
        p{
            display:flex;
            width: 100%;
            padding-top: 12px;
            color:white;
            text-align: center;
            justify-content: center;
            justify-items: center;
            font-size: 1rem;
            letter-spacing: .5px;
            font-weight: 500;
        }
    }
}

@media (max-width: 3200px){

    .brand{
        width:200px;
        margin-left: 0px;
    }

}
