.sobreNosotros-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
}

.sobreNosotros-imgPortada{
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.sobreNosotros-tittle{
    margin-top: 2vh;
    margin-bottom: 2vh;

    h3{
    font-family: $vietnam;
    font-size: 2rem;
    }
    
    h4{
    font-family: $vietnam;
    font-size: 2rem;
    }
}

.sobreNosotros-text{
    font-family: $roboto;
    font-size: 1.2rem;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}