@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"), 
        url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// tipografia
$vietnam: 'Be Vietnam', sans-serif;  //titulos-precio-categorias
$roboto: 'Roboto', sans-serif;    //subtitulos-comentarios-footer







//colores

$clr-titulos: rgb(41, 41, 41);











$clr-base:rgba(56, 55, 55, 0.582);
$clr-fondo:rgb(211, 211, 211);
$clr-fondo-footer:rgb(0, 0, 0);
$clr-btn:rgba(221, 213, 198, 0);
$clr-tipografia:#222121b6;
$clr-tipografia2:rgba(255, 255, 255, 0.808);
$clr-fondo2: rgba(221, 219, 219, 0.274);
