@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

.filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 140px;
  list-style: none;
  text-decoration: none;
}

.btnFiltro {
  padding-right: 30px;
}

.btnBorrar {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.btnBorrar:hover {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.formularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 7.5vh;
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
}

.formularioContacto h1 {
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  font-family: "Be Vietnam", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.08em;
}

.formularioContacto h4 {
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1.4rem;
  letter-spacing: 0.09em;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
}

.imagenFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.navlineaNegrita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
}

.navlineaNegrita p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10px;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-size: 0.9rem;
}

.navcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15vh;
  padding: 20px;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(231, 231, 231, 0.301);
}

.navcontainer .brand {
  color: black;
  text-decoration: none;
  width: auto;
  height: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.navcontainer .menuNav {
  display: Flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 120vh;
  height: auto;
}

.navcontainer .menuNav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navcontainer .menuNav a {
  margin-left: 50px;
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.navcontainer .menuNav a:hover {
  color: #292828;
}

@media (max-width: 1500) {
  .navlineaNegrita {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    max-width: 100%;
  }
  .navcontainer {
    all: unset;
  }
}

.contenedor-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 10% 5% 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 650px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 10px;
  border: 2px solid rgba(56, 55, 55, 0.582);
  border-radius: 12px;
}

.product-card .card_ph {
  width: 340px;
  height: auto;
}

.product-card .product-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  border: 2px solid blue;
}

.product-card .product-tittle h2 {
  font-size: 1.8rem;
}

.cardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
}

.logoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  margin-top: 20vh;
  padding: 20px;
}

.footer-text {
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 12vh;
  padding: 10px 60px 10px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px 60px 10px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerlist li {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.8rem;
}

.footerFinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 3vh;
  background: black;
}

.links {
  color: black;
  list-style: none;
  text-decoration: none;
}

:hover.links {
  color: black;
  font-size: 0.85rem;
}

@media (min-width: 770px) {
  .cardFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logoFooter {
    display: none;
  }
  .footer-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

* {
  max-width: 100%;
}

.img-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 100%;
}

.img-portada {
  width: 95%;
  max-width: 100%;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-portada img {
  width: 100%;
}

.img-portada :hover img {
  opacity: 0.8;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.img-portada .txt {
  text-align: center;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  letter-spacing: .09em;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.img-portada .txt h5 {
  font-size: 1.5rem;
  font-family: "Be Vietnam", sans-serif;
  color: white;
  padding: 10px 20px;
}

.img-portada:hover .txt {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.img-box1 {
  padding: 20px 5px 20px 20px;
}

.img-box2 {
  padding: 20px 5px 20px 20px;
}

.text-portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40vh;
  padding-left: 40vh;
}

.text-portada h2 {
  font-size: 2.3rem;
  letter-spacing: .05em;
  font-family: "Roboto", sans-serif;
}

.text-portada h3 {
  font-size: 1.5rem;
  letter-spacing: .09em;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

/* 
c-img = img-portada
txt = txt

*/
.carousel-portada2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: auto;
  height: auto;
}

.carousel-portada2 .cardimg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5vh;
  padding-right: 5vh;
  width: 500px;
}

.sobreNosotros-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20%;
  margin-left: 20%;
}

.sobreNosotros-imgPortada {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.sobreNosotros-tittle {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.sobreNosotros-tittle h3 {
  font-family: "Be Vietnam", sans-serif;
  font-size: 2rem;
}

.sobreNosotros-tittle h4 {
  font-family: "Be Vietnam", sans-serif;
  font-size: 2rem;
}

.sobreNosotros-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cuidados-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cuidados-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: 200px;
  border: 2px solid red;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.envios-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8vh 50vh 5vh 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.envios-container .envios-title {
  margin-bottom: 3vh;
}

.envios-container .envios-title h1 {
  font-size: 2rem;
  font-family: "Be Vietnam", sans-serif;
  letter-spacing: 1.5px;
}

.envios-container .envios-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.envios-container .envios-txt h5 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.3px;
}

.envios-container .envios-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.envios-container .envios-subtitle h2 {
  font-size: 1.8rem;
  font-family: "Be Vietnam", sans-serif;
  letter-spacing: 1.5px;
}

.detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.detail-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10vh 0vh 0vh 40vh;
}

.detail-card .detail-name {
  font-size: 3rem;
  font-weight: 450;
  font-family: "Roboto", sans-serif;
}

.detail-card .detail-precio {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.detail-card .detail-caracteristica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vh;
  height: 20vh;
}

.count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vh;
  height: auto;
  border: 2px solid #4d4d4d;
  border-radius: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count-container .count-title {
  margin-top: 10px;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.count-container .count-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.count-container .count-card .botonCounter {
  width: 5vh;
  height: auto;
  border-radius: 15px;
  list-style: none;
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count-container .count-card .botonCounter:hover {
  color: black;
}

.count-container .count-card .count-contador {
  margin: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.count-container .count-add {
  margin-bottom: 1vh;
}

.count-container .count-add .agregarCarrito {
  width: 20vh;
  height: 8vh;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  letter-spacing: .03em;
  font-weight: 500;
}

.count-container .count-add .irAlCarrito {
  width: 20vh;
  height: 6vh;
}

.carouselItem-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 520px;
  height: 690px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
  margin-left: 20vh;
  border: 2px solid red;
}

.cartView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 82%;
  height: 100vh;
  margin-top: 7vh;
  margin-bottom: 5vh;
  margin-left: 9%;
}

.button-volver {
  text-align: center;
  margin-top: 20px;
}

.cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cartView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 82%;
  height: 100vh;
  margin-top: 7vh;
  margin-bottom: 7vh;
  margin-left: 9%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 2vh;
  margin-top: 2vh;
  border: 2px solid black;
  border-radius: 15px;
  width: 82%;
  height: auto;
}

.container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
}

.precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 2vh;
}

.precio h3 {
  font-size: 1rem;
}

.precio h4 {
  font-size: 1rem;
}

.buttonEliminar {
  width: 12vh;
  height: 4vh;
  border-radius: 5px;
  font-weight: 700;
}

.buttonEliminar:hover {
  color: #af3737;
  background-color: rgba(184, 17, 17, 0.685);
}

.vaciarCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  height: auto;
}

.vaciarCarrito Button {
  width: 200px;
  height: 50px;
}

.cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2vh;
  width: auto;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-title h2 {
  margin-left: 30px;
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0px 60px 0px;
}
/*# sourceMappingURL=main.css.map */